<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Title of the web page -->
        <title>Ask the Duck</title>

        <!-- Let's add a bit of styling to make it look pretty -->
        <link rel="stylesheet" href="/static/style.css">

    </head>

    {# This is what a jinja tempalte comment looks like #}
    <!-- This is what an HTML comment looks like -->

    <body>
        <div class="content">
            <!-- TODO A form for asking the question -->
            <form action="/" method="GET">
                <label>
                    <b>Ask the Duck</b>
                    <input name="q" type="text" placeholder="Start typing..." />
                </label>
                <button type="submit">Send</button>
            </form>

            <!-- display the answers from instant answers api -->
            <p class="response">
                {% if (question and answer) %}
                    <b>{{ question }}</b>
                    <br> <!-- <br> creates a line break -->
                    {{ answer }}

                    <!-- TODO optional: also display RelatedTopics or anything else  -->

                {% elif (question) %} {# consider -- what case is this #}
                    <b>{{ question }}</b><br>
                    I don't know :(
                {% endif %}
            </p>
        </div>
    </body>
</html>
